.rectangle-box{
    background-color: var(--branco);
    color: var(--preto-texto);
    border: 3px solid var(--roxo-claro);
    padding: 0.3em 1em;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  
    box-shadow: 0px 0px 0px 0px var(--branco), 8px 8px var(--roxo-claro);
  
    &:hover {
      background-color: var(--roxo-claro);
      color: var(--branco);
      box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-escuro);
    }
  
  

}