.ranking-container{
    padding: 10px;
    background-color: #877DBF;
    box-shadow: 11px 13px #3E347B;
    width: 96%;
    margin-right: 0;
    margin-left: auto;
}

hr{
    border: 1.5px solid #454545;
}

.ranking-geral-titulo{
    padding: 10px;
    text-shadow: 2px 2px #00000042;
    display: inline;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 27px;
    color: #F2DB3F;
    background-color: #5A4AC2;
    box-shadow: 11px 13px #3E347B;
    text-align: center;
}

.ranking-geral-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}