.button-upload{
    margin:0;
    padding: 0;
    position: absolute;
    top: 0%;
    left:0%;
    border: none;
    min-width: 100%;
    min-height:100%;
    background: none;
    top: 0%;
    left: 0%;
  }