
.course-progress{
    font-family: 'Space Mono';
    font-weight: bold;
    color: #454545B2;
}

.course-progress > .label{
    font-size: 1em;
}

.progress-percent{
    font-size: 1em;
    text-align: right;
}

.progress-bar{
    background-color: #F2953F;
    height: 0.5em;
}
.progress-border{
    width: 100%;
    border-color: #454545;
    border-style: solid;
}