.subject-title{
    display: flex;
    border-style: solid;
    border-width: thick;
    border-color: black;
    box-shadow: 11px 13px black;
    padding: 10px;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 30px;
    color: #454545;
    padding: 16px;
    justify-content: space-between;
    margin-bottom: 48px;
}
