@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  --roxo-claro: #5A4AC2;
  --roxo-escuro: #3E347B;
  --amarelo: #F2DB3F;
  --vermelho: #F2543F;
  --verde-claro: #3FF29B;
  --verde-escuro: #5D9D7E;
  --cinza: #454545;
  --preto-texto: rgba(0, 0, 0, 0.75);
  --branco: #FFFFFF;
  --laranja: #F2953F;
  --debug: red;
}

.text-button {
  border: none;
  background-color: transparent;
  font-family: 'Space Mono', monospace;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--roxo-claro);
  padding-bottom: 1.5em;
}


.card-default{
  border: 5px solid var(--cinza);
  /*box-shadow: 0px 0px 0 0px var(--branco), -14px 14px var(--cinza);*/
  /*height: 10rem;*/
  /*width: 40rem;*/

  padding: 1em;
  margin: 0;

  min-width: 25rem;
}



.card-inner {
  /*position: relative;*/
  /*top: -3em;*/
  /*left: 2em;*/
  /*box-shadow: inset 0 0 0 5px var(--cinza);*/

  /*!*padding: 19px;*!*/

  /*!*height: 10rem;*!*/
  /*!*width: 40rem;*!*/
}

.card-login{
  /*min-height: 80vh;*/
  font-family: 'Space Mono', monospace;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 0em;
    padding-bottom:0em;
    padding-left: 1em;
    padding-right: 1em;
  /*text-align: center;*/
}

.title{
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  font-weight: 700;
  color: var(--preto-texto);
  margin-bottom: 1em;
}

.title-courses{
  font-family: 'Space Mono', monospace;
  font-size: 3.6em;
  font-weight: 600;
  color: var(--preto-texto);
  margin-bottom: 0.5em;
}
.login-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label{
  font-family: 'Space Mono', monospace;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--preto-texto);
  display: block;
}

.form-input {
  font-family: 'Space Mono', monospace;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--preto-texto);
  border: 3px solid var(--roxo-claro);
  padding: 0.3em 1em;

  box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-claro);

  &:focus {
    border: 3px solid var(--roxo-escuro);
    box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-escuro);
  }
}

.search-input {
  min-width: 20em;
  height: 80%;
  /*margin-top: 16px;*/
  font-family: 'Space Mono', monospace;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--preto-texto);
  border: 3px solid #1E1E1E;
  padding: 0.3em 0.6em 0.3em 0.5em;
  margin:0;
 
  box-shadow: 0px 0px 0 0px var(--branco), 8px 8px #1E1E1E;

  &:focus {
    border: 3px solid var(--roxo-escuro);
    box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-escuro);
  }
}

.default-btn {
  background-color: var(--branco);
  color: var(--preto-texto);
  border: none;
  border: 3px solid var(--roxo-claro);
  padding: 0.3em 1em;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-claro);

  &:hover {
    background-color: var(--roxo-claro);
    color: var(--branco);
    box-shadow: 0px 0px 0 0px var(--branco), 8px 8px var(--roxo-escuro);
  }
}

.form{
  margin-bottom: 1em;
}
/* === Estilos do Componente : SquareDisplay === (START) */
.square-display{
  display: grid;
  position: relative;
}
.square-grid{
  margin-top:1em;
  margin-bottom:2em;

}

.square-image{
  height: 100%;
  width: 100%;
  padding: 0em;
  margin: 0;
  object-fit:fill;
  justify-content: center;
  align-items: center;
}

.curso-courses{
  font-family: 'Space Mono', monospace;
    font-size: 1.25em;
    font-weight:bold;
    color: var(--preto-texto);
    text-decoration: underline;
    padding-top: 5%;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 0;

}

.nome-professor{
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  font-weight: bold;
  opacity: 75%;
  color: var(--cinza);
  padding-bottom: 0;
  padding-left: 5%;
  padding-top: 0;
  padding-bottom: 8%;

}



/* === Estilos do Componente : SquareDisplay === (END) */


/* === Estilos do Componente : SquareForm === (START) */

.teste {
  display: grid;
  position: relative;
  align-items: center;

}

.square-form{ 
  grid-area: 1/1/2/2 ;
  /*border: 0.36vw solid var(--cinza); */
  border: 4px solid var(--cinza);
  padding: 2rem;
  z-index: 2;
  margin: 0%;
}

.square-upper{
  grid-area: 1/1/2/2;
  position: absolute;
  top: -4.5%; /*Altere aqui pra mudar o deslocamento */
  right: -4.5%;
  /* border:0.36vw solid var(--cinza); */
  border: 4px solid var(--cinza);
  width: 100%;
  height: 100%;
  padding:0rem;
  margin:0;
  
}

.tamanho{
  width: 250px;
  height: 250px;
  padding:0;
  object-fit:fill;
  justify-content: center;
  align-items: center;
}
.background{
  background-image:  url("img/fundo-quadr.png");
    /*height: 100vh;
    width: 100em; */
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat:repeat-y;
    background-size:cover;
    margin: 0;
}


.navbar-default{
  background-color:#3E347B ;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  /*padding-bottom: 16px;*/
}

.navbar-auth{ /*ver isso depois*/
  background-color: --branco;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.logo-quest-nav{
  margin:0;
  padding: 0;
}
.nav-login{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-search {
  text-align: center;
}

.search-button{
  padding: none;
  border: none;
  background: transparent;

  width: 54px;
  height: 54px;
}
.notification-icon{
  padding: none;
  border: none;
  background: transparent;

  width: 54px;
  height: 54px;
  margin-right: 1em;
}

.account-icon{
  padding: none;
  border: none;
  background: transparent;

  width: 54px;
  height: 54px;
}

/*    Footer  (START)    */
.QuestFoot{
 background-color: var(--roxo-escuro);
  font-family: 'Space Mono', monospace;
  font-size: 1.3em;
  font-weight: 600;
  width: 100%;
  height: 100%;
  margin-top:4em;
  padding: 1rem;
  color: var(--laranja);
  padding-left: 5em;
  padding-right: 5em;
}
.contato{
  color: var(--laranja);
  padding: 0;
}

.contato-quem{
  color: var(--laranja);
  padding-bottom: 2em;

}
ul.contato {
  list-style-type: none;
}

.contato-cont{
  padding-bottom:85px;
  margin:0;
  padding-left:0 ;
  padding-right: 0;
  padding-top: 0;
}
.contato-email  {
  list-style-type: none; /* Remove default bullets */
  padding-left:40px;
  margin-left:0px;
  font-size: 0.8em;
  padding-top:0;
  padding-bottom: 0em;
  background: url('img/email.svg') no-repeat left center; /* Replace 'path-to-your-svg.svg' with the actual path to your SVG */
}
.email {
  display: flex;
  align-items: center;
}


.contato li {
  margin-bottom: 0; 
}
.data-nome{
  color: var(--verde-escuro);
  font-size: 0.6em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  
}

.minha-conta{
  padding-bottom:5em;
  color: var(--laranja);
}

.button-upload{
  margin:0;
  padding: 0;
  position: absolute;
  top: 0%;
  left:0%;
  border: none;
  min-width: 100%;
  min-height:100%;
  background: none;
  top: 0%;
  left: 0%;
}
/* estilos do chapeu da pagina de cursos */


.custom-pad{
  padding-left: -0.6em !important;
}



/*register.js */
.texto-box{
  font-size:1.5em;
}

.tamanho-box{
  width: 60%;
}

.sizeaa{
  height: 20px;
}



/*.custom-margin{
  padding: 4em !important;
}
*/

/*    Footer  (END)    */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
