/* src/index.css ou src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --roxo-300: #5a4ac2;
  --roxo-500: #877dbf;
  --roxo-900: #3e347b;
  --amarelo: #f2db3f;
  --vermelho-300: #f2543f;
  --vermelho-900: #752c22;
  --verde-300: #3ff29b;
  --verde-900: #5d9d7e;
  --cinza: #454545;
  --cinzaClaro: #747474;
  --preto-texto: #0b1215;
  --branco: #ffffff;
  --laranja: #f2953f;
  --preto: #1e1e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply font-spaceMono;
}
.btn_primary {
  @apply flex cursor-pointer items-center justify-center border-[3px] border-roxo-300 bg-branco px-6 py-1 text-center font-bold text-preto-texto shadow-default-roxo-300 transition-all duration-200 ease-in-out hover:bg-roxo-300 hover:text-branco hover:shadow-default-roxo-500;
}

.btn_disable {
  @apply cursor-not-allowed items-center justify-center border-[3px] border-roxo-300 bg-roxo-300 px-6 py-1 text-center font-bold text-branco opacity-50 shadow-default-roxo-500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}
